<!-- Validation failure messages -->
<% if @enrollment.errors.any? %>
  <% @enrollment.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit enrollment #<%= @enrollment.id %>
</h1>

<hr>

<form action="/update_enrollment/<%= @enrollment.id %>" method="post">
  <!-- Label and input for course_id -->
  <div class="form-group">
    <label for="course_id">
      Course
    </label>

     <%= select_tag("course_id", options_from_collection_for_select(Course.all, :id, :title, @enrollment.try(:course_id)), :class => "form-control") %>
     or <a href="/course/new">Add a new course</a> first
  </div>

  <!-- Label and input for student_id -->
  <div class="form-group">
    <label for="student_id">
      Student
    </label>

    <%= select_tag("student_id", options_from_collection_for_select(Student.all, :id, :last_name, @student.try(:first_name)), :class => "form-control") %>
    or <a href="/students/new">add a new student</a> first
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update enrollment
  </button>
</form>

<hr>

<a href="/enrollments">
  Go back
</a>
